<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dynamic.appliction.dao.LoginsMapper">
    <resultMap id="BaseResultMap" type="com.dynamic.appliction.pojo.bean.Logins">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="os" property="os" jdbcType="VARCHAR"/>
        <result column="browser" property="browser" jdbcType="VARCHAR"/>
        <result column="equipment" property="equipment" jdbcType="VARCHAR"/>
        <result column="ipaddress" property="ipaddress" jdbcType="VARCHAR"/>
        <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP"/>
        <collection property="operation" ofType="com.dynamic.appliction.pojo.bean.Operation">
            <id column="id" property="id" jdbcType="INTEGER"/>
            <result column="user_logins_id" property="userLoginsId" jdbcType="INTEGER"/>
            <result column="state" property="state" jdbcType="VARCHAR"/>
            <result column="module" property="module" jdbcType="VARCHAR"/>
            <result column="describe" property="describe" jdbcType="VARCHAR"/>
            <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, os, browser, equipment, ipaddress, creation_time
  </sql>

    <select id="loginsList" resultMap="BaseResultMap">
        select * from user_logins where user_id=#{userId}
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user_logins
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_logins
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.dynamic.appliction.pojo.bean.Logins">
    insert into user_logins (id, user_id, os, 
      browser, equipment, ipaddress, 
      creation_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{os,jdbcType=VARCHAR}, 
      #{browser,jdbcType=VARCHAR}, #{equipment,jdbcType=VARCHAR}, #{ipaddress,jdbcType=VARCHAR}, 
      #{creationTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.dynamic.appliction.pojo.bean.Logins">
        insert into user_logins
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="os != null">
                os,
            </if>
            <if test="browser != null">
                browser,
            </if>
            <if test="equipment != null">
                equipment,
            </if>
            <if test="ipaddress != null">
                ipaddress,
            </if>
            <if test="creationTime != null">
                creation_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="os != null">
                #{os,jdbcType=VARCHAR},
            </if>
            <if test="browser != null">
                #{browser,jdbcType=VARCHAR},
            </if>
            <if test="equipment != null">
                #{equipment,jdbcType=VARCHAR},
            </if>
            <if test="ipaddress != null">
                #{ipaddress,jdbcType=VARCHAR},
            </if>
            <if test="creationTime != null">
                #{creationTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dynamic.appliction.pojo.bean.Logins">
        update user_logins
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="os != null">
                os = #{os,jdbcType=VARCHAR},
            </if>
            <if test="browser != null">
                browser = #{browser,jdbcType=VARCHAR},
            </if>
            <if test="equipment != null">
                equipment = #{equipment,jdbcType=VARCHAR},
            </if>
            <if test="ipaddress != null">
                ipaddress = #{ipaddress,jdbcType=VARCHAR},
            </if>
            <if test="creationTime != null">
                creation_time = #{creationTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dynamic.appliction.pojo.bean.Logins">
    update user_logins
    set user_id = #{userId,jdbcType=INTEGER},
      os = #{os,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=VARCHAR},
      equipment = #{equipment,jdbcType=VARCHAR},
      ipaddress = #{ipaddress,jdbcType=VARCHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>