<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dynamic.appliction.dao.UserMapper">
    <resultMap id="BaseResultMap"
               type="com.dynamic.appliction.pojo.bean.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="first_name" property="firstName" jdbcType="VARCHAR"/>
        <result column="last_name" property="lastName" jdbcType="VARCHAR"/>
        <result column="language" property="language" jdbcType="VARCHAR"/>
        <result column="birth_date" property="birthDate" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="usd_range" property="usdRange" jdbcType="VARCHAR"/>
        <result column="notus" property="notus" jdbcType="BIT"/>
        <result column="recommend" property="recommend" jdbcType="VARCHAR"/>
        <result column="sharing_token" property="sharingToken" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="confirmation_token" property="confirmationToken" jdbcType="VARCHAR"/>
        <result column="purse_address" property="purseAddress" jdbcType="VARCHAR"/>
        <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP"/>
        <collection property="logins"
                    ofType="com.dynamic.appliction.pojo.bean.Logins">
            <id column="id" property="id" jdbcType="INTEGER"/>
            <result column="user_id" property="userId" jdbcType="INTEGER"/>
            <result column="os" property="os" jdbcType="VARCHAR"/>
            <result column="browser" property="browser" jdbcType="VARCHAR"/>
            <result column="equipment" property="equipment"
                    jdbcType="VARCHAR"/>
            <result column="ipaddress" property="ipaddress"
                    jdbcType="VARCHAR"/>
            <result column="creation_time" property="creationTime"
                    jdbcType="TIMESTAMP"/>
        </collection>
        <collection property="auths"
                    ofType="com.dynamic.appliction.pojo.bean.Auths">
            <id column="id" property="id" jdbcType="INTEGER"/>
            <result column="user_id" property="userId" jdbcType="INTEGER"/>
            <result column="identity_type" property="identityType"
                    jdbcType="VARCHAR"/>
            <result column="identifier" property="identifier"
                    jdbcType="VARCHAR"/>
            <result column="credential" property="credential"
                    jdbcType="VARCHAR"/>
            <result column="creation_time" property="creationTime"
                    jdbcType="TIMESTAMP"/>
        </collection>
        <collection property="share"
                    ofType="com.dynamic.appliction.pojo.bean.Share">
            <id column="id" property="id" jdbcType="INTEGER"/>
            <result column="referralid" property="referralid"
                    jdbcType="INTEGER"/>
            <result column="beintroducedid" property="beintroducedid"
                    jdbcType="INTEGER"/>
            <result column="creation_time" property="creationTime"
                    jdbcType="TIMESTAMP"/>
        </collection>
        <collection property="transactionType"
                    ofType="com.dynamic.appliction.pojo.bean.TransactionType">
            <id column="id" property="id" jdbcType="INTEGER"/>
            <result column="user_id" property="userId" jdbcType="INTEGER"/>
            <result column="type" property="type" jdbcType="VARCHAR"/>
            <result column="describe" property="describe"
                    jdbcType="VARCHAR"/>
            <result column="creation_time" property="creationTime"
                    jdbcType="TIMESTAMP"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
    id, email, password, phone_number, first_name, last_name, language, birth_date, country,
    usd_range, notus, recommend, sharing_token, state, confirmation_token, purse_address,
    creation_time
  </sql>
    <select id="queryUser" resultMap="BaseResultMap">
        select id, email , phone_number, first_name, last_name, language, birth_date, country,
    usd_range, notus, recommend, sharing_token, state, confirmation_token, purse_address,
    creation_time from user where email= #{email}
    </select>
    <select id="queryEmail" resultMap="BaseResultMap">
		select id,state,confirmation_token,sharing_token,purse_address from user
		where
		email= #{email}
	</select>
    <select id="login" resultMap="BaseResultMap">
		select * from user where email =
		#{email} and password = #{password}
	</select>
    <select id="userList" resultMap="BaseResultMap">
        select
        id,email,country,phone_number,notus,usd_range,creation_time from
        user
        <where>
            <if test="country != null and country !=''">
                and country = #{country,jdbcType=VARCHAR}
            </if>
            <if test="usdRange != null and usdRange !=''">
                and usd_range = #{usdRange,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="confirmation" resultMap="BaseResultMap">
		select * from user where
		confirmation_token = #{confirmationToken,jdbcType=VARCHAR}
	</select>
    <select id="userConditionList" resultType="String"
            parameterType="com.dynamic.appliction.pojo.bean.User">
        select email from user
        <where>
            <if test="country != null and country !=''">
                and country = #{country,jdbcType=VARCHAR}
            </if>
            <if test="usdRange != null and usdRange !=''">
                and usd_range = #{usdRange,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="referral" resultMap="BaseResultMap">
		select * from user where
		sharing_token =
		#{sharingToken,jdbcType=VARCHAR}
	</select>
    <update id="modifyPassword">
        update user set password = #{password} where  email = #{email}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.dynamic.appliction.pojo.bean.User">
    insert into user (id, email, password,
      phone_number, first_name, last_name,
      language, birth_date, country,
      usd_range, notus, recommend,
      sharing_token, state, confirmation_token,
      purse_address, creation_time)
    values (#{id,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{phoneNumber,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR},
      #{language,jdbcType=VARCHAR}, #{birthDate,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR},
      #{usdRange,jdbcType=VARCHAR}, #{notus,jdbcType=BIT}, #{recommend,jdbcType=VARCHAR},
      #{sharingToken,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{confirmationToken,jdbcType=VARCHAR},
      #{purseAddress,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.dynamic.appliction.pojo.bean.User" useGeneratedKeys="true"
            keyProperty="id">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="phoneNumber != null">
                phone_number,
            </if>
            <if test="firstName != null">
                first_name,
            </if>
            <if test="lastName != null">
                last_name,
            </if>
            <if test="language != null">
                language,
            </if>
            <if test="birthDate != null">
                birth_date,
            </if>
            <if test="country != null">
                country,
            </if>
            <if test="usdRange != null">
                usd_range,
            </if>
            <if test="notus != null">
                notus,
            </if>
            <if test="recommend != null">
                recommend,
            </if>
            <if test="sharingToken != null">
                sharing_token,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="confirmationToken != null">
                confirmation_token,
            </if>
            <if test="purseAddress != null">
                purse_address,
            </if>
            <if test="creationTime != null">
                creation_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null">
                #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null">
                #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null">
                #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="language != null">
                #{language,jdbcType=VARCHAR},
            </if>
            <if test="birthDate != null">
                #{birthDate,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="usdRange != null">
                #{usdRange,jdbcType=VARCHAR},
            </if>
            <if test="notus != null">
                #{notus,jdbcType=BIT},
            </if>
            <if test="recommend != null">
                #{recommend,jdbcType=VARCHAR},
            </if>
            <if test="sharingToken != null">
                #{sharingToken,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="confirmationToken != null">
                #{confirmationToken,jdbcType=VARCHAR},
            </if>
            <if test="purseAddress != null">
                #{purseAddress,jdbcType=VARCHAR},
            </if>
            <if test="creationTime != null">
                #{creationTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dynamic.appliction.pojo.bean.User">
        update user
        <set>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null">
                phone_number = #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null">
                first_name = #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null">
                last_name = #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="language != null">
                language = #{language,jdbcType=VARCHAR},
            </if>
            <if test="birthDate != null">
                birth_date = #{birthDate,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                country = #{country,jdbcType=VARCHAR},
            </if>
            <if test="usdRange != null">
                usd_range = #{usdRange,jdbcType=VARCHAR},
            </if>
            <if test="notus != null">
                notus = #{notus,jdbcType=BIT},
            </if>
            <if test="recommend != null">
                recommend = #{recommend,jdbcType=VARCHAR},
            </if>
            <if test="sharingToken != null">
                sharing_token = #{sharingToken,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="confirmationToken != null">
                confirmation_token = #{confirmationToken,jdbcType=VARCHAR},
            </if>
            <if test="purseAddress != null">
                purse_address = #{purseAddress,jdbcType=VARCHAR},
            </if>
            <if test="creationTime != null">
                creation_time = #{creationTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where email = #{email,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dynamic.appliction.pojo.bean.User">
    update user
    set email = #{email,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      first_name = #{firstName,jdbcType=VARCHAR},
      last_name = #{lastName,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      birth_date = #{birthDate,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      usd_range = #{usdRange,jdbcType=VARCHAR},
      notus = #{notus,jdbcType=BIT},
      recommend = #{recommend,jdbcType=VARCHAR},
      sharing_token = #{sharingToken,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      confirmation_token = #{confirmationToken,jdbcType=VARCHAR},
      purse_address = #{purseAddress,jdbcType=VARCHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>